*{
  font-family: 'Noto Sans Malayalam', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 2rem;
}

.App-link {
  color: #61dafb;
}
.Loading-Block,
.Quiz-Block {
  transform: all 0.3s ease-in; 
}
.Question-Text {
  background: #a5aaeb;
  background: linear-gradient(to right, #60fff2 0%, #d56969 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
}

.Answer-Text {
  background: #ffc500;
  background: linear-gradient(to right, #c21500 0%, #ffc500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
}

.Primary-Button {
  display: inline-block;
  padding: 1em 3em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.15s;
  background-color: transparent;
  cursor: pointer;
}
.Primary-Button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;
}
.Primary-Button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}
@media all and (max-width:30em){
  .Primary-Button{
    display:block;
    margin:0.4em auto;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}